run = "yarn && npm i pm2 --location=global && pm2 start lib/client.js --deep-monitoring --attach --name WHATSAPP_AKBOT"
start = "yarn start"	start = "pm2 start lib/client.js --deep-monitoring --attach --name WHATSAPP_AKBOT"  
